body{
    text-align: center;
    background-color: #232F3E;
    color: #fff;
}
header{
    margin-top: 2rem;
    margin-right:100px;
}
header img{
    margin-right: 50px ;
}
li{
    width: 110px;
    height: 110px;
}
.adv-form{
    margin: 5rem 5vw 5rem ;   
}
.form,.adv-form>p{
    margin: 1rem 20vw 1rem;
    border: solid; 
    border-radius: 8rem;
    padding: 2rem;
    background-color: rgb(0,168,225);
}
.content-pri ul{
    width: 580px;
    height: 580px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 5rem auto;
    

}
.content-pri-2 ul{
    width: 580px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 5rem auto;
    
}
fieldset form *{
    display: block;
    width: 100%;
    line-height: 3.5rem;
    border: 0;
    margin-bottom: .5rem;
    text-align: left;
}
fieldset form input{
    border: solid .1rem #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
}
.form-button{
    margin-bottom: 5rem;
}
.form-button a{
    padding: 0.75rem;
    background-color: greenyellow;
    border-radius: 5rem;
    
}



