body{
    text-align: center;
    background-color: #232F3E;
    color: #fff;
}
header{
    margin-top: 2rem;
    margin-right:100px;
}
header img{
    margin-right: 50px ;
}
.adv-form{
    margin: 5rem 5vw 5rem ;   
}
.form,.adv-form>p{
    margin: 1rem 20vw 1rem;
    border: solid; 
    border-radius: 8rem;
    padding: 2rem;
    background-color: rgb(0,168,225);
}
.content-pri h3{
    vertical-align: middle;
    
}
.content-pri ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 5rem;
    gap: 100px 10px;

}
.content-pri-2 ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    margin: 0;
    margin: 5rem;
    
}
fieldset form *{
    display: block;
    width: 100%;
    line-height: 3.5rem;
    border: 0;
    margin-bottom: .5rem;
    text-align: left;
}
fieldset form input{
    border: solid .1rem #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
}

.form-button{
    margin: 5rem;
}
.form-button a{
    padding: 0.75rem;
    background-color: #9be52a;
    border-radius: 5rem;
    
}
fieldset form input[type="submit"]{
    color: #222;
    text-align: center;
    background-color: #9be52a;
    border-radius: 5rem;
    width: min-content;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}


